<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.max_size">5</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/anote2_version2_db_2</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.default_catalog">anote2_version2_db_2</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.search.autoregister_listeners">false</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.use_sql_comments">true</property>
	 	<mapping class="com.silicolife.anote2daemon.model.core.pojo.Corpus" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.AnnotationsSide" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ClustersLabelsPublications" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ProcessesProperties" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.HypherLinksMenu" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ProcessesOrigin" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ProcessCluesStats" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.PublicationsHasPublicationsSource" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.PublicationsLabels" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.QueriesHasClustersProcess" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.Users" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ProcessGeneralResumeStats" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ClustersProperties" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ClustersLabels" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.QueriesHasPublications" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ResourceElements" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ClassesColors" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ResourcesTotalElements" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.Sources" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.HypherLinksSubmenus" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ResourcesClassStats" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.PublicationsHasPublicationLabels" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.Queries" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ResourcesClassSynonymsCount" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.UsersHasDataObject" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ResourcesTotalElementsSynonyms" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ClassesHierarchy" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.CorpusProperties" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.UsersGeneralSettings" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.Version" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.UsersLog" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.CorpusHasPublications" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.CorpusHasProcesses" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.QueriesType" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.Classes" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.Publications" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.Resources" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ResourceElementsRelation" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.PublicationsSource" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.QueriesProperties" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ProcessEntitiesClassStats" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ProcessEntitiesStats" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.AnnotationsLog" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.Processes" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.PublicationsFields" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ClustersProcesses" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ResourceElementsRelationType" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.UsersGroups" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.Annotations" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.UsersGroupsHasUsersAccessLevels" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ResourcesType" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.AnnotationsProperties" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.Synonyms" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ClustersProcessHasClustersLabels" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ResourceElementsExtenalId" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.UsersAccessLevels" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.HypherLinkMenuSourceAssociation" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.PublicationsQueryRelevance" />
        <mapping class="com.silicolife.anote2daemon.model.core.pojo.ProcessesType" />
	</session-factory>
</hibernate-configuration>