<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util.xsd">


	<beans:bean id="queriesDao"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.Queries
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>

	<beans:bean id="queryTypesDao"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.QueryTypes
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>
	
	<beans:bean id="queryPropertiesDao"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.QueryProperties
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>

	<beans:bean id="queryHasPublicationsDao"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.QueryHasPublications
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>

	<beans:bean id="queryHasClusterProcessesDao"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.QueryHasClusterProcesses
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>

	<beans:bean id="publicationSourcesDao"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.PublicationSources
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>

	<beans:bean id="publicationsDao"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.Publications
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>

	<beans:bean id="publicationHasSourcesDao"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.PublicationHasSources
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>

	<beans:bean id="publicationFieldsDao"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.PublicationFields
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>


	<beans:bean id="publicationHasLabelsDao"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.PublicationHasLabels
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>

	<beans:bean id="publicationLabelsDao"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.PublicationLabels
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>

</beans:beans>