<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


	<beans:bean id="publicationService"
		class="com.silicolife.anote2daemon.service.PublicationsServiceImpl">
	</beans:bean>

	<beans:bean id="queriesService"
		class="com.silicolife.anote2daemon.service.QueriesServiceImpl">
	</beans:bean>

	<beans:bean id="queriesTypeService"
		class="com.silicolife.anote2daemon.service.QueriesTypeServiceImpl">
	</beans:bean>

	<beans:bean id="queriesHasPublicationsService"
		class="com.silicolife.anote2daemon.service.QueriesHasPublicationsServiceImpl">
	</beans:bean>

	<beans:bean id="daemonTypeResourcesService"
		class="com.silicolife.anote2daemon.service.DaemonTypeResourcesServiceImpl">
	</beans:bean>

	<beans:bean id="daemonUsersService"
		class="com.silicolife.anote2daemon.service.DaemonUsersServiceImpl">
	</beans:bean>

	<beans:bean id="daemonUsersHasDataObjectService"
		class="com.silicolife.anote2daemon.service.DaemonUsersHasDataObjectServiceImpl">
	</beans:bean>

</beans:beans>