<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util.xsd">


	<!-- CREATE BEANS TO DAO -->

	<beans:bean id="authUsersDao"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.AuthUsers
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>

	<beans:bean id="authUserLogsDao"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.AuthUserLogs
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>

	<beans:bean id="authUserDataObjects"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.AuthUserDataObjects
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>
	
	<beans:bean id="authGroup"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.AuthGroups
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>
	
	<beans:bean id="authSettings"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.AuthUserSettings
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>
	

</beans:beans>