<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


	<beans:bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<beans:property name="configLocation" value="classpath:hibernate.cfg.xml" />
	</beans:bean>

	<!-- Data access objects -->
	<beans:bean id="queriesTypeDao"
		class="com.silicolife.anote2daemon.model.dao.QueriesTypeDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
	</beans:bean>

	<beans:bean id="publicationsDao"
		class="com.silicolife.anote2daemon.model.dao.PublicationsDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
	</beans:bean>

	<!-- Services implementation -->
	<beans:bean id="publicationService"
		class="com.silicolife.anote2daemon.service.PublicationsServiceImpl">
	</beans:bean>

	<beans:bean id="queriesService"
		class="com.silicolife.anote2daemon.service.QueriesServiceImpl">
	</beans:bean>

	<beans:bean id="queriesTypeService"
		class="com.silicolife.anote2daemon.service.QueriesTypeServiceImpl">
	</beans:bean>




	<beans:bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<beans:property name="sessionFactory" ref="sessionFactory" />
	</beans:bean>

	<tx:annotation-driven />

</beans:beans>