<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util.xsd">


	<!-- Corpus -->
	<beans:bean id="corpusDao"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.Corpus
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>


	<beans:bean id="corpusPropertiesDao"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.CorpusProperties
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>


	<beans:bean id="corpusHasProcessesDao"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.CorpusHasProcesses
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>


	<beans:bean id="corpusHasPublicationsDao"
		class="pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.dao.GenericDaoImpl">
		<beans:constructor-arg ref="sessionFactory" />
		<beans:constructor-arg>
			<beans:value type="java.lang.Class">pt.uminho.anote2.datastructures.dataaccess.database.dataaccess.implementation.model.core.entities.CorpusHasPublications
			</beans:value>
		</beans:constructor-arg>
	</beans:bean>
	

</beans:beans>