<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/anote2_corpus</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.default_catalog">anote2_corpus</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.search.autoregister_listeners">false</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.use_sql_comments">true</property>
	 	<mapping class="com.silicolife.anote2daemon.model.core.entities.PublicationsSource" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.Synonyms" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.HypherLinksSubmenus" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ResourceElementsExtenalId" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.QueriesType" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.Resources" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ClustersLabels" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.CorpusProperties" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ProcessCluesStats" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ProcessesProperties" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.CorpusHasPublications" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.Corpus" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.UsersGeneralSettings" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.PublicationsFields" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.UsersGroups" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.PublicationsQueryRelevance" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.Processes" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ResourcesTotalElementsSynonyms" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.HypherLinksMenu" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.Version" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.HypherLinkMenuSourceAssociation" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ProcessesType" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ResourcesTotalElements" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.PublicationsHasPublicationLabels" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.Queries" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.AnnotationsLog" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.QueriesHasPublications" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ProcessesOrigin" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ClassesHierarchy" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ResourcesClassStats" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ResourcesType" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.AnnotationsSide" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.QueriesHasClustersProcess" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ClustersProperties" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.UsersAccessLevels" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.AnnotationsProperties" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.Publications" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.Sources" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.CorpusHasProcesses" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.PublicationsLabels" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.Users" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ProcessEntitiesStats" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ResourceElements" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.Annotations" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ClustersProcesses" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ResourceElementsRelation" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.PublicationsHasPublicationsSource" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ProcessEntitiesClassStats" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.UsersHasDataObject" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ClustersLabelsPublications" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ResourcesClassSynonymsCount" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.UsersLog" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.UsersGroupsHasUsersAccessLevels" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ProcessGeneralResumeStats" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ClustersProcessHasClustersLabels" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ClassesColors" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.Classes" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.ResourceElementsRelationType" />
        <mapping class="com.silicolife.anote2daemon.model.core.entities.QueriesProperties" />
	</session-factory>
</hibernate-configuration>